body {
    margin: 0;
    background-color: rgb(236,240,241);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

header {
    background-color: rgb(43,69,92);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: normal;
}  

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45%;

}

.Whiskey, 
.Fluffy, 
.Kitty {
    background-color: rgb(255,255,255);
    flex-grow: 1;
    width: 33.33%;
    margin-top: 24px;
}

.Whiskey, 
.Fluffy {
    margin-right: 10px;
}

.Whiskey .image {
    background-image: url("Whiskey.jpg");
}

.Fluffy .image {
    background-image: url("Fluffy.jpg");
}

.Kitty .image {
    background-image: url("Kitty.jpg");
}

.image {
    background-size: cover;
    height: 120px;
    max-width: 270px;
    text-align: center;
}

h2 {
    color: rgb(233,101,100);
    padding-left: 15px;
}
 
article {
    padding: 0px 15px 15px 15px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}